
body {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
}

/* _____________section-content___________ */

.women-sec {
  height: 388vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #FFFFFF, #FFF5E1);

  .women-perfume {
    height: 56vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 40px;
    margin-top: 40px;

    .perfume-card {
      width: 220px;
      background: white;
      height: 100%;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      padding-bottom: 16px;
      transition: 0.3s ease-in-out;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

      &:hover {
        transform: scale(1.04, 1.04);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
          rgba(0, 0, 0, 0.22) 0px 10px 10px;
      }

      h4 {
        text-align: center;
      }

      .image-card {
        height: 45%;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .star {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 24px;
        color: #f9cb35;
      }
      .name{
        font-size: 16px;
      }
      .btn {
        height: 40px;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;


        .btn-a {
          padding: 8px 16px;
          font-size: 10px;
          text-decoration: none;
          border-radius: 16px;
          
          color: white;
          background: #302aaf;
          
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          transition: 0.3s ease-in-out;

          &:hover {
            color: black; 
            transform: scale(1.05, 1.05);
            border: 2px solid #302aaf;
            background: rgba(128, 128, 128, 0.162);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

          }
        }
      }

      .small {
        font-size: 12px;
      }

      .save {
        color: red;
      }

      .rrp {
        font-size: 14px;
        color: gray;
      }
    }
  }

  .women-brand {
    text-align: center;
    margin: 40px 0;
  }
}

.men-tittle {
  margin-top: 80px;
  margin-bottom: 40px;
}

.tittle-one,
.tittle-three {
  a {
    &:hover {
      background: none;
    }
  }
}


/* Footer */

@media screen and (max-width: 1024px) {
  .info {
    flex-direction: row;
    flex-wrap: wrap;

    .free-shipping,
    .premium,
    .trust {
      width: 28vw;
      margin-bottom: 10px;
    }
  }

  .men-sec .men-perfume .perfume-card {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .info {
    flex-direction: column;
    height: auto;

    .free-shipping,
    .premium,
    .trust {
      width: 80%;
      margin: 10px auto;
    }
  }

  .men-sec .men-perfume {
    gap: 16px;
  }
}

@media screen and (max-width: 428px) {
  .image {
    height: 60vh;

    img {
      margin-top: 0;
      height: 60vh;
      margin-top: -6vh;
    }

    .on-text {
      margin-top: -16vh;

      h1 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }

  }
  .info{
    background: white;
      .free-shipping,
  .premium,
  .trust {
    height: 12vh;
  }
  }

  .women-sec {
    height: auto;
    gap: 0;

    .women-perfume {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: auto;
      padding: 0 8px;
      justify-content: space-around;
      gap: 0;
      margin-top: 10px;
      
      .perfume-card {
        max-width: 170px;
        height: 380px;
        margin-bottom: 20px;
        .btn{
        display: flex;
        margin-top: 8px;
        gap: 4px;
        .btn-a{
          padding: 4px 8px;

        }
      }
        &:nth-child(5) {
          display: none;
        }
      }
    }
  }
}