.shop-info{
            .info-right {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .info-tittle {
            height: 24px;
            width: 100%;
            display: flex;
            font-size: 24px;
            justify-content: center;
            align-items: center;

        }

        .info-logo {
            height: 120px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 8px 0;

            img {
                height: 100%;
                width: 150px;
            }
        }

        .main-accords {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            width: 40vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-1 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ee363b;
            color: white;
            width: 36vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-2 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fffec1;
            width: 34vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-3 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #eff3fb;
            width: 30vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-4 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f0fbf6;
            width: 28vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-5 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #5b89bb;
            color: white;
            width: 20vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-6 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f4e9de;
            width: 18vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-7 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f4e9de;

            width: 16vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-8 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffe969;
            width: 13vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-9 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #85c5b7;

            width: 12vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-10 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #d99976;
            color: white;
            width: 10vw;
            border-radius: 0 0 8px 0;
        }
    }
}