.shop-tittle{
    padding-left: 50px;
    font-size: 32px;
    background: white;
    span{
        font-size: 28px;
        color: rgb(90, 90, 90);
    }
}
.shop-info{
    height: 80vh;
    width: 100vw;
    background: white;
    display: flex;
    padding: 24px 50px;
    .info-left{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .info-left-image{
            height: 100%;
            width: 100%;
            background: blue;
        }
        .info-left-rate{
            height: 80px;
            width: 100%;
            display: flex;
            gap: 4px;

            .i-have-it, .i-had-it, .i-want-it{
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-areas:
                'it-left it-right'
                'it-bottom it-bottom';
                grid-template-columns: 1fr 2fr;
                grid-template-rows: 2fr 1fr;
                .it-left{
                    grid: it-left;
                    background: gray;
                }
                .it-right{
                    grid: it-right;
                    background: black;
                }
                .it-bottom{
                    grid: it-bottom;
                    
                    width: 100%;
                }

            }
        }
    }
    .info-right{
        height: 100%;
        width: 100%;
    }
}