.shop-info {
    .info-right {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .info-tittle {
            height: 24px;
            width: 100%;
            display: flex;
            font-size: 24px;
            justify-content: center;
            align-items: center;

        }

        .info-logo {
            height: 120px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 8px 0;

            img {
                height: 100%;
                width: 150px;
            }
        }

        .main-accords-savage {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            width: 40vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-1 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #83c928;
            width: 36vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-2 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #cc784a;
            color: white;
            width: 25vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-3 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fbff7f;
            width: 24vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-4 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #76beae;
            width: 22vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-5 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f0e6f2;

            width: 20vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-6 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ac8d70;
            color: white;
            width: 18.5vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-7 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f2e4f5;

            width: 15vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-8 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #b1cebb;
            width: 14vw;
            border-radius: 0 0 8px 0;
        }

        .info-ingredient-men-9 {
            height: 32px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #e49378;
            color: white;
            width: 14vw;
            border-radius: 0 0 8px 0;
        }
    }
}

.shop-info {
    .info-left {
        .info-left-rate-savage {
            height: 80px;
            width: 100%;
            display: flex;
            gap: 4px;

            .i-have-it,
            .i-had-it,
            .i-want-it {
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-areas:
                    'it-left it-right'
                    'it-bottom it-bottom';
                grid-template-columns: 1fr 2fr;
                grid-template-rows: 3fr 1fr;

                .it-left {
                    grid-area: it-left;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .it-left-round {
                        height: 50px;
                        width: 50px;
                        border: 4px solid #cacaca;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                        font-weight: bold;
                        color: #cacaca;
                    }
                }

                .it-right {
                    grid-area: it-right;
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                }

                .it-bottom {
                    grid-area: it-bottom;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .progress {
                        height: 8px;
                        width: 140px;
                        background: #cacaca;
                        border-radius: 20px;

                        .progress-percent-have {
                            height: 100%;
                            width: 70%;
                            border-radius: 20px;
                            background: #9fe584;
                        }

                        .progress-percent-had {
                            height: 100%;
                            width: 15%;
                            border-radius: 20px;
                            background: #eb76bb;
                        }

                        .progress-percent-want {
                            height: 100%;
                            width: 20%;
                            border-radius: 20px;
                            background: #447ba3;
                        }
                    }
                }

            }
        }
    }
}

.shop-sell {
    .shop-sell-right {
        .image-change-box {

            // thumbnails images
            #img-01 {
                background-image: url("https://media.theperfumeshop.com/medias/sys_master/prd-images/h81/h8d/8821458862110/zoom-front-1215662_420x420/dior-sauvage-eau-de-parfum-spray-420x420");
            }

            #img-02 {
                background-image: url("https://media.theperfumeshop.com/medias/sys_master/prd-images/hd1/hb6/10148589109278/prd-side-1215662_420x420/dior-dior-sauvage-edp60-420x420.jpg");
            }

            #img-03 {
                background-image: url("https://media.theperfumeshop.com/medias/sys_master/prd-images/h40/haf/10148589371422/prd-back-1215662_420x420/dior-dior-sauvage-edp60-420x420.jpg");
            }

            #img-04 {
                background-image: url("https://media.theperfumeshop.com/medias/sys_master/prd-images/h72/ha5/10148589633566/prd-extra1-1215662_420x420/dior-dior-sauvage-edp60-420x420.jpg");
            }

            #img-05 {
                background-image: url("https://media.theperfumeshop.com/medias/sys_master/prd-images/hf3/h9d/10148589895710/prd-extra2-1215662_420x420/dior-dior-sauvage-edp60-420x420.jpg");
            }

            #img-01:checked~.image-change-bg {
                background-image: url("https://media.theperfumeshop.com/medias/sys_master/prd-images/h81/h8d/8821458862110/zoom-front-1215662_420x420/dior-sauvage-eau-de-parfum-spray-420x420");
            }

            #img-02:hover~.image-change-bg {
                background-image: url("https://media.theperfumeshop.com/medias/sys_master/prd-images/hd1/hb6/10148589109278/prd-side-1215662_420x420/dior-dior-sauvage-edp60-420x420.jpg");
            }

            #img-03:hover~.image-change-bg {
                background-image: url("https://media.theperfumeshop.com/medias/sys_master/prd-images/h40/haf/10148589371422/prd-back-1215662_420x420/dior-dior-sauvage-edp60-420x420.jpg");
            }

            #img-04:hover~.image-change-bg {
                background-image: url("https://media.theperfumeshop.com/medias/sys_master/prd-images/h72/ha5/10148589633566/prd-extra1-1215662_420x420/dior-dior-sauvage-edp60-420x420.jpg");
            }

            #img-05:hover~.image-change-bg {
                background-image: url("https://media.theperfumeshop.com/medias/sys_master/prd-images/hf3/h9d/10148589895710/prd-extra2-1215662_420x420/dior-dior-sauvage-edp60-420x420.jpg");
            }

        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        height: 54px;
        margin-top: -16px;
    }

    .bg-nav {
        height: 54px;
        margin-top: -54px;
    }

    .shop-tittle {
        padding-left: 20px;
        font-size: 18px;
        height: 80px;

        span {
            font-size: 24px;
        }
    }

    .shop-info {

        flex-direction: column;
        padding: 16px 40px;
        height: auto;

        .info-left {
            width: 100%;
            display: flex;
            flex-direction: row;
            height: 32vh;

            .info-left-image {
                width: 1200px;

                img {
                    height: 100%;
                    width: 70%;
                    max-height: 320px;
                }
            }

            .info-left-rate-savage {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: auto;

                .i-have-it,
                .i-had-it,
                .i-want-it {
                    height: 80px;
                }
            }
        }

        .info-right {
            width: 100%;
            margin-top: 20px;

            .info-tittle {
                font-size: 20px;
            }

            .info-logo img {
                width: 120px;
                height: auto;
            }

            .main-accords-savage {
                width: 80%;
                font-size: 16px;

            }

            .info-ingredient-men-1 {
                width: 80%;
            }

            .info-ingredient-men-2 {
                width: 75%;
            }

            .info-ingredient-men-3 {
                width: 68%;
            }

            .info-ingredient-men-4 {
                width: 64%;
            }

            .info-ingredient-men-5 {
                width: 50%;
            }

            .info-ingredient-men-6 {
                width: 45%;
            }

            .info-ingredient-men-7 {
                width: 40%;
            }

            .info-ingredient-men-8 {
                width: 36%;
            }

            .info-ingredient-men-9 {
                width: 32%;
            }

            .info-ingredient-men-10 {
                width: 30%;
            }

        }
    }

    .shop-sell {
        flex-direction: column;
        padding: 16px 40px;
        height: auto;

        .shop-sell-left {
            .p-tittle {
                font-size: 24px;
            }

            .p-head {
                font-size: 22px;

                span {
                    font-size: 16px;
                }
            }

            .size-bottle {
                flex-wrap: wrap;
                justify-content: center;

                .ml {
                    width: 80px;
                    height: 80px;
                    font-size: 14px;

                    .p-price-bold {
                        font-size: 16px;
                    }
                }
            }

            .wrap {
                flex-direction: column;
                gap: 12px;

                button {
                    width: 100%;
                    font-size: 16px;
                }
            }

            .btn-buy {
                flex-direction: column;
                align-items: center;
                gap: 12px;
                margin-bottom: 16px;
                .add-to-bag {
                    width: 100%;
                    font-size: 16px;
                    padding: 12px;
                }
            }
        }

        .shop-sell-right {
            .image-change-box {
                .image-change-bg {
                    height: 540px;
                }

                input[type="radio"] {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .shop-info {

        .info-left {
            .info-left-rate-savage{
                .i-had-it, .i-have-it, .i-want-it{
                    .it-left{
                        .it-left-round{
                            height: 40px;
                            width: 40px;
                            margin-right: 8px;
                        }
                    }
                    .it-bottom{
                        width: 80px;
                        margin-left: 16px;
                    }
                }
            }
        }
        .info-right {
            .main-accords-savage{
                width: 100%;
            }
            .info-ingredient-men-1{
                width: 100%;
            }
            .info-ingredient-men-2{
                width: 95%;
            }
            .info-ingredient-men-3{
                width: 85%;
            }
            .info-ingredient-men-4{
                width: 80%;
            }
            .info-ingredient-men-5{
                width: 60%;
            }
            .info-ingredient-men-6{
                width: 55%;
            }
            .info-ingredient-men-7{
                width: 50%;
            }
            .info-ingredient-men-8{
                width: 40%;
            }
            .info-ingredient-men-9{
                width: 35%;
            }

        }

    }
}