.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  h1 {
    color: #4B4B9B;
    text-align: center;
    margin-bottom: 40px;
  }

  .policy-section {
    h2 {
      color: #555;
      border-bottom: 2px solid #eee;
      padding-bottom: 5px;
      margin-top: 30px;
    }

    p {
      strong {
        color: #4B4B9B;
      }
    }

    &:last-child {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .policy-table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;

      th,
      td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
      }

      th {
        background-color: #f0f0f0;
        color: #333;
      }
    }

    details {
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 10px;
      background-color: #fcfcfc;

      summary {
        padding: 15px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        background-color: #f0f0f0;
        border-radius: 4px;
        position: relative;

        &::-webkit-details-marker {
          display: none;
        }

        &::after {
          content: '+';
          position: absolute;
          right: 15px;
          font-size: 1.2em;
          transition: transform 0.3s;
        }
      }

      &[open]>summary::after {
        content: '−';
      }

      .faq-content {
        padding: 15px;
        border-top: 1px solid #ddd;
      }
    }

  }
}

@media (max-width: 768px) {
}
@media (max-width: 480px) {
  .logo-website {
    display: flex;

  }

  .bg-nav {
    margin-top: -6vh;
  }
}